body{
    background-color:#FFF;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#333;
}

.navbar-default
{
	/*background-color:transparent;*/
	background-color:#222;
	border:none;
}

/* selector not working */
#bs-example-navbar-collapse-1
{
	background-color:000;
}

.navbar {
	/*border-radius: 0px;*/
}

.nav .active
{
	border-top:6px solid #C4D600;
}

.section-bg
{
	/*background-color:#DDEFE8;*/
	text-align:justify;
	padding:40px 30px;
}

.menuBox h1
{
	color:#000;
	font-size:18px;
	text-align:center;
}

.menuBox
{
  height:350px;
  margin:0px;
  overflow: hidden;
  text-align: justify;
}

.menuBox:hover
{
  cursor:pointer;
}

.menuBox img
{
  height:auto;
  max-width:103%;

  -webkit-transition: all .3s ease 10ms;
  -moz-transition: all .3s ease 10ms;
  -o-transition: all .3s ease 10ms;
  transition: all .3s ease 10ms;

  -webkit-box-shadow: 0px 8px 16px -8px rgba(50, 50, 50, 0);
  -moz-box-shadow:    0px 8px 16px -8px rgba(50, 50, 50, 0);
  box-shadow:         0px 8px 16px -8px rgba(50, 50, 50, 0);  
}


.menuBox img:hover
{
  max-width:100%;

  -webkit-box-shadow: 0px 8px 16px -12px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    0px 8px 16px -12px rgba(50, 50, 50, 0.35);
  box-shadow:         0px 8px 16px -12px rgba(50, 50, 50, 0.35);
}